@font-face {
    font-family: 'GothamProLight';
    src: url('../fonts/GothamPro/GothamProLight.eot');
    src: url('../fonts/GothamPro/GothamProLight.eot') format('embedded-opentype'),
         url('../fonts/GothamPro/GothamProLight.woff2') format('woff2'),
         url('../fonts/GothamPro/GothamProLight.woff') format('woff'),
         url('../fonts/GothamPro/GothamProLight.ttf') format('truetype'),
         url('../fonts/GothamPro/GothamProLight.svg#GothamProLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro/GothamPro.eot');
    src: url('../fonts/GothamPro/GothamPro.eot') format('embedded-opentype'),
         url('../fonts/GothamPro/GothamPro.woff2') format('woff2'),
         url('../fonts/GothamPro/GothamPro.woff') format('woff'),
         url('../fonts/GothamPro/GothamPro.ttf') format('truetype'),
         url('../fonts/GothamPro/GothamPro.svg#GothamPro') format('svg');    
}

@font-face {
    font-family: 'GothamProMedium';
    src: url('../fonts/GothamPro/GothamProMedium.eot');
    src: url('../fonts/GothamPro/GothamProMedium.eot') format('embedded-opentype'),
         url('../fonts/GothamPro/GothamProMedium.woff2') format('woff2'),
         url('../fonts/GothamPro/GothamProMedium.woff') format('woff'),
         url('../fonts/GothamPro/GothamProMedium.ttf') format('truetype'),
         url('../fonts/GothamPro/GothamProMedium.svg#GothamProMedium') format('svg');    
}

@font-face {
    font-family: 'GothamProBold';
    src: url('../fonts/GothamPro/GothamProBold.eot');
    src: url('../fonts/GothamPro/GothamProBold.eot') format('embedded-opentype'),
         url('../fonts/GothamPro/GothamProBold.woff2') format('woff2'),
         url('../fonts/GothamPro/GothamProBold.woff') format('woff'),
         url('../fonts/GothamPro/GothamProBold.ttf') format('truetype'),
         url('../fonts/GothamPro/GothamProBold.svg#GothamProBold') format('svg');   
}

@font-face {
    font-family: 'GothamProBlack';
    src: url('../fonts/GothamPro/GothamProBlack.eot');
    src: url('../fonts/GothamPro/GothamProBlack.eot') format('embedded-opentype'),
         url('../fonts/GothamPro/GothamProBlack.woff2') format('woff2'),
         url('../fonts/GothamPro../fonts/GothamPro//GothamProBlack.woff') format('woff'),
         url('../fonts/GothamPro/GothamProBlack.ttf') format('truetype'),
         url('../fonts/GothamPro/GothamProBlack.svg#GothamProBlack') format('svg');    
}