@import "reset";
@import "vars";
@import "fonts";

/*** global style ***/
body {
    font: 400 16px/1.2 'GothamPro', sans-serif;    
    background-color: $white;
    color: $black; 
    letter-spacing: 0;   
}

a {
    position: relative;
    color: $white;

    &::before {        
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        background-color: $white;
        height: 1px;
        width: 0;
        transition: width 0.3s ease-in-out;
    }

    &:hover {
        &::before {
            width: 50%;
        }
    } 
}

.container-lg {  
    max-width: 1470px;
    width: 100%;  
    margin: 0 auto;    
    padding: 0 15px; 
}

.container {
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.scroll-hidden {
    overflow-y: hidden;
}

.title-h1 {    
    font: 900 50px/1.2 'GothamProBlack', sans-serif; 
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (max-width: 1200px) {
        font-size: 40px;
    }

    @media screen and (max-width: 1023px) {
        font-size: 35px;
    }

    @media screen and (max-width: 600px) {
        font-size: 27px; 
    }

     @media screen and (max-width: 475px) {
        font-size: 25px; 
    }
}

.title-h2 {    
    font: 500 24px/1.2 'GothamProMedium', sans-serif; 
    color: $blue;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (max-width: 600px) {
        font-size: 20px; 
    }
}

.title-h3 {    
    font: 600 20px/1 'GothamProBold', sans-serif;  

    @media screen and (max-width: 600px) {
        font-size: 18px; 
    }
}

.btn {    
    text-align: center;
    font: 500 14px 'GothamProMedium', sans-serif;  
    text-transform: uppercase;
    border-radius: 4px; 
}

.btn-phone {    
    padding: 15px 34px;
    border: 2px solid $blue;
    color: $blue;
    background-color: $white;

    &:hover {
        color: $white;
        background-color: $blue;
    }

    &:active {
        color: $white;
        background-color: #20738A;
        border: 2px solid #20738A;
    }
}

.form {
    position: relative;        
    z-index: 1;
    max-width: 940px;
    margin: 50px auto 0;
    padding: 35px 60px;
    border-radius: 10px;
    background: $white;
    text-align: center;

    @media screen and (max-width: 600px) {
        padding: 35px 25px;
    }

    .title-h2 {
        padding-bottom: 37px;
        color: #3C4253;                
    }

    .form-group {
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 1023px) {
            flex-wrap: wrap;
            padding-bottom: 15px;
        }

        &__input {
            max-width: 255px;
            width: 100%;
            padding: 15px 10px;
            border: 1px solid #5A5A5A;
            border-radius: 4px;
            background: rgba(255, 255, 255, 0.9);
            color: #5A5A5A;
            font: 400 16px/1.2 'GothamPro', sans-serif;

            &:focus {
                border: 1px solid #3A92AB;
                color: $black;
            }

            @media screen and (max-width: 1023px) {
                max-width: 100%;
                margin-bottom: 25px;
            }
        }

        .input--discription {
            max-width: 100%;
        }
    }

    .select {
        position: relative;
        max-width: 255px;
        width: 100%;
        padding: 15px 10px;
        border: 1px solid #5A5A5A;
        border-radius: 4px;
        background: url(../img/arrow.svg) 95% center no-repeat rgba(255, 255, 255, 0.9);
        color: #5A5A5A;
        font: 400 16px/1.2 'GothamPro', sans-serif;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;

        &:focus, 
        &:hover {
            border: 1px solid #3A92AB;
            color: $black;
            outline: none; 
        }  

        &::-ms-expand { 
            display: none; 
        }   
        
        @media screen and (max-width: 1023px) {
            max-width: 100%;
            margin-bottom: 25px;
        }
} 

    .btn-form {    
        max-width: 280px;     
        width: 100%;   
        padding: 20px;    
        margin-top: 10px;
        border: none ;
        color: $white;
        background-color: $blue;

        &:hover {
            color: $white;
            background-color: #5EB6CF;;
        }

        &:active {
            color: $white;
            background-color: #20738A;
        }
    }
}

.block-info {
    display: flex;

     @media screen and (max-width: 1023px) {       
        flex-wrap: wrap;
    }

    &__img {
        @media screen and (max-width: 1023px) {
            margin: 0 auto;           
        }
    }

    &__txt {             
        width: 100%;                
        font-size: 20px; 
        line-height: 30px;  
        letter-spacing: .5px;  
        
        @media screen and (max-width: 1200px) {
            font-size: 18px;
        }   
        
        @media screen and (max-width: 600px) {
            font-size: 16px;
        }   
    }       
} 

.info-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
        max-width: 385px;             
        width: 100%;     
        padding-bottom: 85px;
        letter-spacing: .5px;

        @media screen and (max-width: 1200px) {
            max-width: 90%;             
            margin: 0 auto;     
            padding-bottom: 45px;
        }

        @media screen and (max-width: 600px) {              
            padding-bottom: 30px;
        }
    }  
    
    &__txt {    
        padding-top: 15px;         
        font-size: 20px; 
        line-height: 30px;    
        
        @media screen and (max-width: 1200px) {
            font-size: 18px;
        }

        @media screen and (max-width: 600px) {
            font-size: 16px;
        }   
    } 
}


/*** section-top style ***/
.section-top {
    padding: 23px 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        @media screen and (max-width: 767px) {
            max-width: 95%;
            width: 100%;
            margin: 0 auto;
        }

        .phone {
            padding-right: 29px;
            font-size: 18px;

            @media screen and (max-width: 767px) {
                padding: 20px 20px 20px 0;
            }
        }        
    }
}


/*** section-nav style ***/
.section-nav {
    position: relative;
    padding: 30px 0;
    background-color: $blue-dark;

    @media screen and (max-width: 1023px) {
        padding: 25px 0;
    }
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    
    &__item {
        @media screen and (max-width: 1023px) {
            display: block;
            padding-bottom: 35px;   
        }
    }
    
    &__link {
        font-size: 18px;    
        letter-spacing: 1px;    
    }

    @media screen and (max-width: 1023px) {
        display: none;
    }

    &.nav-active {
        @media screen and (max-width: 1023px) {
            display: block;
            position: absolute;
            z-index: 99;
            background-color: $blue-dark;
            top: 49px;
            left: 0;
            padding: 5px 30px;
            height: 100vh; 
        }        
    }    
}

.nav-opener {  
    position: absolute;  
    background: transparent;
    border: none;
    display: none;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;

    @media screen and (max-width: 1023px) {
       display: block;
    }

    span {
        display: block;
        width: 25px;
        height: 2px;
        background: $white;
        margin: 5px 0;
    }
}


/*** header style ***/
.header {
    position: relative;
    padding: 90px 15px 100px;
    background: url(../img/photo_1.png) center no-repeat;
    background-size: cover;
    color: $white;  

    @media screen and (max-width: 600px) {
       padding: 60px 15px;
    }

    &__dark {        
        position: absolute;
        background: #000000;
        opacity: 0.3;  
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .title-h1 {
        position: relative;        
        z-index: 1;
    }

    .title-h1__sub {
        position: relative;
        font: 500 30px/1.2 'GothamProMedium', sans-serif; 
        letter-spacing: 1px;
        text-align: center;
        padding-top: 22px;
        z-index: 1;

        @media screen and (max-width: 600px) {
            font-size: 23px; 
        }
    }
}


/*** section-about style ***/
.section-about {
    padding: 140px 0 95px;

    @media screen and (max-width: 1200px) {
        padding: 95px 0;
    }

    @media screen and (max-width: 1023px) {
        padding: 70px 0;
    }

    .title-h1 {
        padding-bottom: 45px;      
    }

    .block-info {        

        &__txt { 
            max-width: 525px;  
            padding-left: 50px; 
            padding-right: 15px;  
            
            @media screen and (max-width: 1023px) {
                max-width: 90%;
                padding: 0;                
                margin: 0 auto;
            }            
        }       
    } 

    .about-list {
        padding: 10px 0;        

        &__item {
            position: relative;
            padding-left: 20px;
            font-family: 'GothamProMedium', sans-serif; 
            line-height: 40px; 
            
            @media screen and (max-width: 1023px) {
                line-height: 30px;
            }


            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background-color: $blue-light;
                height: 10px;
                width: 10px;
                border-radius: 50%;
            }
        }
    }
    
}


/*** section-icons style ***/
.section-icons {
    padding: 50px 0 0;
    background-color: $blue;
}

.icons-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__item {
        max-width: 200px;
        width: 100%;
        padding-top: 100px;
        margin: 0 20px 80px;
        font: 500 16px/1.2 'GothamProMedium', sans-serif; 
        color: $white;
        text-align: center;

        @media screen and (max-width: 1024px) {              
            margin: 0 20px 35px;
            font-size: 14px;
        }

        @media screen and (max-width: 475px) {              
            max-width: 95%;
        }
    }

    .icon-1 {
        background: url(../img/ic_1.svg) center top no-repeat;
    }

    .icon-2 {
        background: url(../img/ic_2.svg) center top no-repeat;
    }

    .icon-3 {
        background: url(../img/ic_3.svg) center top no-repeat;
    }

    .icon-4 {
        background: url(../img/ic_4.svg) center top no-repeat;
        max-width: 159px;
    }

    .icon-5 {
        background: url(../img/ic_5.svg) center top no-repeat;
    }

    .icon-6 {
        background: url(../img/ic_6.svg) center top no-repeat;
    }

     .icon-7 {
        background: url(../img/ic_7.svg) center top no-repeat;
    }
}


/*** section-info__white style ***/
.section-info__white {
        padding: 150px 0 20px;

    @media screen and (max-width: 1200px) {
        padding: 75px 0 20px;
    }
}


/*** section-news style ***/
.section-news {
    padding: 65px 0 100px;
    background-color: $grey;

    @media screen and (max-width: 1023px) {
        padding: 65px 0;
    }
}

.news-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 45px;

    &__item {
        max-width: 300px;
        max-height: 330px;
        width: 100%;
        padding: 30px 22px;        
        background: $white;
        box-shadow: 5px 5px 10px rgba(163, 163, 163, 0.2);
        border-radius: 4px; 
        transition: all 0.3s linear;
        
        &:hover {
            cursor: pointer;            
            transform: scale(1.065,1.065);
        }

        @media screen and (max-width: 1023px) {
            max-width: 95%;
            margin: 0 auto 30px;
        }
    }

    &__txt {        
        padding-top: 20px;        
        font-size: 18px;
        line-height: 27px;  
        
        @media screen and (max-width: 600px) {
            font-size: 16px;
        }   
    }

    &__date {        
        padding-top: 10px;        
        font-size: 16px;     
        color: #7D7D7D;
        text-align: right;
    }
}


/*** section-partners style ***/
.section-partners {
    padding: 90px 0 150px;

    @media screen and (max-width: 767px) {
        padding: 50px 0 60px;
    }
}

.partners-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 68px;

     @media screen and (max-width: 767px) {
        padding-top: 35px;
    }

    @media screen and (max-width: 1023px) {
        justify-content: center;
    }

    &__item {
        width: 180px;
        height: 72px;
            }

    .partner-1 {
        background: url(../img/logo-part_1.png) center no-repeat;
    }

    .partner-2 {
        background: url(../img/logo-part_2.png) center no-repeat;
    }

    .partner-3 {
        background: url(../img/logo-part_3.png) center no-repeat;
    }

    .partner-4 {
        background: url(../img/logo-part_4.png) center no-repeat;        
    }

    .partner-5 {
        background: url(../img/logo-part_5.png) center no-repeat;
    }

}


/*** footer style ***/
.footer {
    padding: 25px 0;
    background-color: $blue-dark;
    color: $white;
}

.footer-blocks {
    display: flex;    
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 60px;  

    @media screen and (max-width: 767px) {
        padding-bottom: 20px; 
    }
    
    &__item:first-child {
        padding-right: 118px;

        @media screen and (max-width: 1023px) {
            padding-right: 0;
        }
    }

    &__item {
        margin-top: 25px;

        @media screen and (max-width: 767px) {
            max-width: 95%;
            width: 100%;
            margin: 0 auto 25px;
        }
    }
}

.footer-list {
    padding-top: 20px;

    &__item {   
        position: relative;     
        max-width: 300px;
        width: 100%;
        margin-bottom: 10px;
        font-size: 18px;        
        line-height: 27px;

        @media screen and (max-width: 1023px) {
            font-size: 15px;
        }       

        &::before {
            content:'';
            position: absolute;
            top: 4px;
            left: 0;
        }
    }

    .footer-phone {  
        padding-left: 44px;

        &::before {            
            background: url(../img/ic-phone.svg);
            width: 24px;
            height: 24px;
        }
    }

    .footer-email {  
        padding-left: 44px;     

        &::before {           
            background: url(../img/ic-email.svg);
            width: 24px;
            height: 17px;
        }
    }

    .footer-adress { 
        padding-left: 44px;     

        &::before {   
            background: url(../img/ic-adress.svg);
            width: 14px;
            height: 24px;
        }
    }
}

.footer-bottom {
    text-align: center;
}